services:
  - type: worker
    name: lead-bot
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: NICHE_NAME
        value: Ипотека
      - key: CRM_WEBHOOK_URL
        sync: false
      - key: GOOGLE_SHEETS_WEBHOOK_URL
        sync: false
